<!-- Log-in page -->
<br><br>
<div class="row">
    <div class="col-lg-4">
    </div>
    <div class="col-lg-4">
        <div class="panel panel-success">
          <div class="panel-heading">Log In</div>
          <div class="panel-body">
            <%= form_tag sessions_path do %>
                <%= label_tag :username, "Username" %><br />
                <%= text_field_tag :username, params[:username] %></br></br>
                <%= label_tag :password %><br />
                <%= password_field_tag :password %></br></br>
                <button class="" type="submit" name="action">Log in
                </button>
                <br>

            <% end %>
          </div>
          </div>
        </div>
    </div>

<br><br>
