		<%= form_for(@child, :url=>{:controller=>"children", :action=>"create"}, html: {class: "col s12"}) do |f| %>
			<div class="row">
				<div class="input-field col l6 m6 s12">
					<i class="mdi-action-account-circle prefix"></i>
	        		<%= f.text_field :first_name, html: {id: "icon_prefix"} %>
	        		<label for="icon_prefix">First Name</label>
				</div>
				<div class="input-field col l6 m6 s12">
					<i class="mdi-action-account-circle prefix"></i>
	        		<%= f.text_field :last_name, html: {id: "icon_prefix"} %>
	        		<label for="icon_prefix">Last Name</label>
				</div>
			</div>

			<div class="row">
				<div class="field col l4 m6 s12">
					<label>Parent/Guardian</label>
  					<%= f.collection_select :guardian_id, Guardian.all, :id, :name %>
  					<!-- Add date of birth to this select as well -->
				</div>
				<div class="field col l6 m6 s12 offset-l2">
					<%= f.label :school_id %></br>
  					<%= f.collection_select :school_id, School.all, :id, :name %>
				</div>
				<div class="col l2 m6 s12">
				</div>
			</div>
			<div class="row">
				<div class='field col l4 m6 s12'>
			      <%= f.label :date_of_birth, 'Date of Birth', :for => 'date_of_birth' %>
			      <%= f.text_field :date_of_birth, :id=> 'date_of_birth', :class => 'datepick' %>
			    </div>
				
				<div class="col l6 m6 s8 offset-l2">
					<div class="input-field">
						<%= f.label :grade %>
						<%= f.number_field :grade %></br></br>
					</div>
					<div class="field">
						<%#= f.label :active %>
							<%= f.check_box :active %>
						    <%= f.label :active %>
						</br></br>

					</div>
					<div class="select">
						<%= select_tag "child[location_ids][]", options_for_select(@locations.collect{ |l| [l.name, l.id]}) %>
					</div>
					<%= f.submit "Create", html: {class: "btn waves-effect waves-light"} %>
	  			</div>
			</div>
		<% end %>
