<%= form_for(@guardian, :url=>{:controller=>"guardians", :action=>"create"}) do |f| %>

<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-12">
    <label >First Name</label><%= mark_required(@guardian, :first_name) %></br>
    <%= f.text_field :first_name %>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12">
    <label>Last Name</label><%= mark_required(@guardian, :last_name) %></br>
    <%= f.text_field :last_name %>
  </div>
</div></br>
<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-12">
    <label>Telephone</label></br>
    <%= f.text_field :phone %> 
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12">
    <label for="email">Email</label></br>
    <%= f.text_field :email %>
  </div>
</div></br>
<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-12">
    <p>
    <% for loc in @locations %>
    <% if can? :manage, loc %>	
    <%= check_box_tag "guardian[location_ids][]", loc.id, @guardian.locations.include?(loc), {id: loc.id} %>
    <label for="<%= loc.id %>"><%= loc.name %></label>
    <br /-->
    <% end %>
    <% end %>
    </p>

    <%#= f.label :date_of_birth %></br>
    <%#= f.date_select(:date_of_birth, :start_year => 1900) %>
  </div>

  <div class="col-lg-6 col-md-6 col-sm-12">
    <%= f.label :date_of_birth_two, 'Date of Birth', :for => 'date_of_birth_two' %><%= mark_required(@guardian, :date_of_birth_two) %></br>
    <%= f.text_field :date_of_birth_two, :id => 'date_of_birth_two', :class => 'datepick' %></br></br>
    <%= f.submit "Create" %>
  </div>
</div>

<% end %>
