					<%= form_for(@guardian, :url=>{:controller=>"guardians", :action=>"create"}) do |f| %>

							<div class="row">
								<div class="col-lg-6 col-md-6 col-sm-12">
									<label >First Name</label><%= mark_required(@guardian, :first_name) %>
					        		<%= f.text_field :first_name %>
					        	</div>
	        					<div class="col-lg-6 col-md-6 col-sm-12">
				        			<label>Last Name</label><%= mark_required(@guardian, :last_name) %>
				        			<%= f.text_field :last_name %>
				        		</div>
				        	</div></br></br>
				        	<div class="row">
								<div class="col-lg-6 col-md-6 col-sm-12">
				        		<label>Telephone</label><%= mark_required(@guardian, :phone) %>
						        <%= f.text_field :phone %> 
						        </div>
	        					<div class="col-lg-6 col-md-6 col-sm-12">
						        	<label for="email">Email</label><%= mark_required(@guardian, :email) %>
						        	<%= f.text_field :email %>
						        </div>
				        	</div></br></br>
						    <div class="row">
								<div class="col-lg-6 col-md-6 col-sm-12">  
									<div class="col-lg-6 col-md-6 col-sm-12">
									  <%= f.label :date_of_birth, 'Date of Birth', :for => 'date_of_birth' %><%= mark_required(@guardian, :date_of_birth) %>
					              	  <%= f.text_field :date_of_birth, :id=> 'date_of_birth', :class => 'datepick' %>
								      <%#= f.label :date_of_birth %></br>
									  <%#= f.date_select(:date_of_birth, :start_year => 1900) %>
									</div>
								</div>
	        					<div class="col-lg-6 col-md-6 col-sm-12">
									<p>
										<%= f.label :location_ids %><%= mark_required(@guardian, :location_ids) %>
										<%= f.select :location_ids, options_for_select(Location.all.map{|l| if can? :read, loc [l.name, [l.id]]}) %>
									</p>
								</div>
				        	</div></br></br>
								<%= f.submit "Create", html: {class: ""} %>
					<% end %>
