</br>
					<%= form_for(@school, :url=>{:controller=>"schools", :action=>"create"}) do |f| %>
							<div class="row">
								<div class="col-lg-6 col-md-6 col-sm-12">
									<label>Name</label><%= mark_required(@school, :name) %>
					        		<%= f.text_field :name %>
					        	</div>
					        	<div class="col-lg-6 col-md-6 col-sm-12">
					        		<%= f.label :school_district_id %>
									<%= f.select :school_district_id, options_for_select(SchoolDistrict.all.map{|s| [s.name, [s.id]]}), :prompt => "Select District" %>
								</div>
						    </div></br></br>
						        
							<%= f.submit "Create" %>
					<% end %>
