<div class="table-responsive">      
  <table class="table table-striped">
    <tr>
      <thead>
        <th>
          Date
        </th>
        <th>
          Day of Week
        </th>
        <th>
          Students Present
        </th>
        <th>
          View Day
        </th>
        
      </thead>
    </tr>
    <% @dates.each do |d| %>
    <tr>

      <td><%= d[0] %></td>
      <td><%= d[0].strftime("%A") %></td>
      <td><%= d[1] %></td>
      <td> <button type="button" class="btn btn-default"><a href=<%= "/program/#{@program.id}/#{d[0]}"%>>Show Day<a></button></td>
    </tr>
  <% end %>
  </table>
  <%= will_paginate @dates, :param_name => 'dates_page' %>
</div>
