  <div>
      <%= f.label :length %></br>
      <%= f.text_field :length %>
      
      <p>
      <%= f.label :notes %></br>
      <%= f.text_area :notes %>
      </p>

      <p>
      <%= f.label :provider_id %></br>
      <%= f.collection_select :provider_id, Provider.all, :id, :name %>
      </p>
      
  </div>