<div class="container">
  <h1>Programs This Year</h1>

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Program type</th>
        <th>Start date</th>
        <th>End date</th>
        <th>Location</th>
        <th>Total Attendance</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @programs.each do |program| %>
        <tr>
          <td><%= link_to program.name, program_path(program) %></td>
        <td><%= program.program_type == "after_school" ? "After School" : program.program_type == "enrichment" ? "Enrichment" : "Field Trip" %></td>
          <td><%= program.start_date %></td>
          <td><%= program.end_date == "" ? "None" : program.end_date %></td>
          <td><%= program.location.nil? ? "None" : program.location == "" ? "None" : program.location.name %></td>
          <td><%= program.children.count %></td>
          <td><%= link_to 'Edit', edit_program_path(program) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Program', new_program_path %>
</div>
