<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row">
    <div class="col l12 m12 s12">
      <table>
      <tr>
        <thead>
          <th>
            Name
          </th>
          <th>
            Program type
          </th>
          <th>
            Start date
          </th>
          <th>
            End date
          </th>
          <th>
            Attendance
          </th>
        </thead>
      </tr>
      <tr>
        <td><%= @program.name %></td>
        <td><%= @program.end_date %></td>
        <td><%= @program.program_type %></td>
        <td><%= @program.program_type == "after_school" ? "After School" : program.program_type == "enrichment" ? "Enrichment" : "Field Trip" %></td>
        <td><%= @program.start_date %></td>
        <td><%= @program.children.count %></td>
        <td><%= @program.location.name %></td>
      </tr>
      </table>
    </div>

    <div class="col l6 m8 s12">
      </br></br></br></br>
      <u><h6>Children Present</h6></u>
      <ol>
        <% @program.children.each do |child| %>
          <li><%= child.name %></li>
        <% end %>
      </ol>
    </div> 

  </div>
  </br></br>
  <%= link_to 'Edit', edit_program_path(@program) %> |
  <%= link_to 'Back', programs_path %>
</div>
