<div class="container">
</br></br>

<div class="panel panel-primary">
    <div class="panel-heading">
      <h3 align="center"><%= @program.name %></h3>
    </div>
      
      <table class="table table-condensed">
      <thead>
        <tr class="info">
            
            <th>
              Type
            </th>
            <th>
              Start date
            </th>
            <th>
              End date
            </th>
            <th>
              Children
            </th>
            <th>
              Location
            </th>
        </tr>
      </thead>
        <tr>
          <td><%= @program.program_type == "after_school" ? "After School" : @program.program_type == "enrichment" ? "Enrichment" : "Field Trip" %></td>
          <td><%= @program.start_date %></td>
          <td><%= @program.end_date %></td>
          <td><%= @program.children.count %></td>
          <td><%= @program.location.nil? ? "None" : @program.location == "" ? "None" : @program.location.name %></td>
        </tr>
      </table>
    
</div>

    </br></br>


    <% if @program.program_type=="after_school" %>
        </br></br>
        <h5><u> Average Activity Time for All Children </u></h5>
        <%= bar_chart @average_times, colors: ["orange", "blue", "red", "green"] %>

      </br>
      <h5 align="center"> Daily Attendance/Time Allocation </h5>
      </br>
      <%= render :partial => "day_summary" %>
      </br>
    <% else %>
      <div class="row">
        <div class="col-lg-3">
          <div class="panel panel-default">
            <div class="panel-heading">Length</div>
            <div class="panel-body">
              <%= @info.length %>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-lg-offset-1">
          <div class="panel panel-default">
            <div class="panel-heading">Notes</div>
            <div class="panel-body">
              <%= @info.notes %>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-lg-offset-1">
          <div class="panel panel-default">
            <div class="panel-heading">Provider</div>
            <div class="panel-body">
              <%= @info.provider %>
            </div>
            
          </div>
        </div>
      </div>



    <% end %>

      <% if @program.program_type=="after_school" %>
        <a class="btn btn-primary" href="<%= new_after_school_path(program_id: @program.id) %>" role="button"> New Day</a>
      <% end %>
      <a class="btn btn-warning" href="<%= edit_program_path(@program) %>" role="button"> Edit Program</a>
      <a class="btn btn-default" href="<%= programs_url %>" role="button"> All Programs</a></br></br>
</div>

