<p id="notice"><%= notice %></p>

<p>
  <strong>First Name:</strong>
  <%= @instructor.first_name %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @instructor.last_name %>
</p>

<p>
  <strong>Role:</strong>
  <%= @instructor.user.role %>
</p>
<% if @instructor.user.role != "admin" %>
	<p>
	  <strong>Assigned Programs:</strong>
	  <table class='table table-striped'>
	    <thead>
	      <tr>
	        <th>Name</th>
	        <th>Program type</th>
	        <th>Start date</th>
	        <th>End date</th>
	        <th>Location</th>
	        <th></th>
	        <th></th>
	        <th></th>
	      </tr>
	    </thead>

	    
	  </table>
	</p>
<% end %>
<% if can? :edit, @instructor %>
	<%= link_to 'Edit', edit_instructor_path(@instructor) %> |
<% end %>
<%= link_to 'Back', instructor_path %>
