<nav class="navbar navbar-default">
  <div class="container-fluid">

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <% if !current_user.nil? %>
          <li><%= link_to "View Programs", programs_url %></li>
          <li><%= link_to "Add Program", new_program_path %></li>
          <li><%= link_to "Add Instructor", new_instructor_path %></li>
          <li><%= link_to "View Instructors", instructors_url %></li>
          <li><%= link_to "Add Child", new_child_path %></li>
          
        <% end %>
          <li><% if logged_in? %>
            <span><%= link_to 'Logout - ', logout_path %><%= current_user.username %></span>
          <% else %>
            <%= link_to 'Login', login_path %>
          <% end %></li>


      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

