<div class="row">
<div class="panel panel-info">
  <div class="panel-body">
					<%= form_for(@school, :url=>{:controller=>"schools", :action=>"update"}) do |f| %>
							<div class="row">
								<div class="col-lg-6 col-md-6 col-sm-12">
									<label>Name</label><%= mark_required(@school, :name) %></br>
					        		<%= f.text_field :name %>
					        	</div>
					        	<div class="col-lg-6 col-md-6 col-sm-12">
					        		<%= f.label :school_district_id %></br>
									<%= f.select :school_district_id, options_for_select(SchoolDistrict.all.map{|s| [s.name, [s.id]]}), :prompt => "Select District" %>
								</div>
						    </div></br></br>
						        
							<%= f.submit "Update" %>
					<% end %>
  </div>
</div>
</div>