<%= form_for(@sub_location) do |f| %>
  <% if @sub_location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sub_location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
      <% @sub_location.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.label :name %><br>
    <%= f.text_field :name %>

    <%= f.label :address_line_one %><br>
    <%= f.text_field :address_line_one %>
    
    <%= f.label :address_line_two %><br>
    <%= f.text_field :address_line_two %>

    <%= f.label :city %><br>
    <%= f.text_field :city %>

    <%= f.label :state %><br>
    <%= f.text_field :state %>

    <%= f.label :zip %><br>
    <%= f.text_field :zip %>

    <%= f.label :phone %><br>
    <%= f.text_field :phone %>
<br>
    <%= f.collection_select :location_id, Location.all, :id, :name %>

    <%= f.submit %>
<% end %>
