<div class="row">
<div class="panel panel-info">
  <div class="panel-body">

<%= form_for(@sub_location) do |f| %>
  <% if @sub_location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sub_location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
      <% @sub_location.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <%= f.label :name %><%= mark_required(@sub_location, :name) %></br>
    <%= f.text_field :name %></br></br>
    <%= f.collection_select :location_id, Location.all, :id, :name, :prompt => "Select Location" %>
    </br></br>
    <%= f.submit %></br></br>
<% end %>

  </div>
</div>
</div>
