<h1>Listing locations</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address line one</th>
      <th>Address line two</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
      <th>Phone</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @sub_locations.each do |sub_location| %>
      <tr>
        <td><%= sub_location.name %></td>
        <td><%= sub_location.address_line_one %></td>
        <td><%= sub_location.address_line_two %></td>
        <td><%= sub_location.city %></td>
        <td><%= sub_location.state %></td>
        <td><%= sub_location.zip %></td>
        <td><%= sub_location.phone %></td>
        <td><%= link_to 'Show', sub_location %></td>
        <td><%= link_to 'Edit', edit_sub_location_path(location) %></td>
        <td><%= link_to 'Destroy', sub_location, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Location', new_location_path %>
