  <ol class="breadcrumb">
    <li><a href="<%= home_path %>">Home</a></li>
    <li><a href="<%= programs_url %>">Programs</a></li>
    <li><a href="<%= program_path(@program) %>"><%= @program.name %></a></li>
  </ol>

<div class="panel panel-warning">
  <div class="panel-body">
  <div class="row">
    <div class="col-lg-6">
      <%= form_for(@field_trip) do |f| %>
      <%= f.label :length %></br>
      <%= f.text_field :length %>
      
      <p>
      <%= f.label :notes %></br>
      <%= f.text_area :notes %>
      </p>

      <p>
      <%= f.label :provider_id %></br>
      <%= f.collection_select :provider_id, Provider.all, :id, :name %>
      </p>

      <p>
      <%= f.label :program_id %></br>
      <%= f.collection_select :program_id, Program.all, :id, :name %>
      </p>
      
      <br>
      
    </div>
    <div class="col-lg-6">
      <% if @program.program_type=="field_trip" %>
                    <h6> Field Trip Attendance </h6>
                    <input type="checkbox" name="select_all" id="select_all" value="select_all"> Select All</input></br>
                    <% for child in @children %>
                      <%= check_box_tag "field_trip[child_ids][]", child.id, @field_trip.children.include?(child), {id: child.id} %>
                      <label for="<%= child.id %>"><%= child.name %></label>
                      <br />
                    <% end  %>
        <% elsif @program.program_type=="enrichment" %>
                    <h6> Enrichment Attendance </h6>
                    <input type="checkbox" name="select_all" id="select_all" value="select_all"> Select All</input></br>
                    <% for child in @children %>
                      <%= check_box_tag "enrichment[child_ids][]", child.id, @enrichment.children.include?(child), {id: child.id} %>
                      <label for="<%= child.id %>"><%= child.name %></label>
                      <br />
                    <% end  %>
         <% end  %>
      </div>
      <%= f.submit "Create" %>
      <% end %>
  </div>
</div>
</div>