<%= form_for(@location) do |f| %>
  <% if @location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
      <% @location.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.label :name %><br>
    <%= f.text_field :name %>

    <%= f.label :address_line_one %><br>
    <%= f.text_field :address_line_one %>
    
    <%= f.label :address_line_two %><br>
    <%= f.text_field :address_line_two %>

    <%= f.label :city %><br>
    <%= f.text_field :city %>

    <%= f.label :state %><br>
    <%= f.text_field :state %>

    <%= f.label :zip %><br>
    <%= f.text_field :zip %>

    <%= f.label :phone %><br>
    <%= f.text_field :phone %>

    <h6> Assign Instructor to This Location </h6>
    <% for instructor in @instructor %>
      <%= check_box_tag "location[instructor_ids][]", instructor.id, @location.instructors.include?(instructor), {id: instructor.id} %>
        <label for="<%= instructor.id %>"><%= instructor.proper_name %></label>
        <br />
    <% end  %>

    <%= f.submit %>
<% end %>
