<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @location.name %>
</p>

<p>
  <strong>Address line one:</strong>
  <%= @location.address_line_one %>
</p>

<p>
  <strong>Address line two:</strong>
  <%= @location.address_line_two %>
</p>

<p>
  <strong>City:</strong>
  <%= @location.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @location.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @location.zip %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @location.phone %>
</p>

<%= link_to 'New Sub Location', new_sub_location_path %>
<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
